/* NAVBAR */

.title {
  border-radius: 4px;
  padding: 6px 30px;
  background-color: #2c3a47;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover,
.navbar button:hover {
  color: #2c3a47dc;
}

.navbar button {
  border: 0;
  outline: 0;
  background-color: inherit;
}

/* NAVBAR end */
