html,
body,
.root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c40c6;
  background-image: url(/static/stars-opacity.0979c1.svg);
}


@media (max-width: 630px) {
  .main-grid {
    margin: 40px 0px !important;
  }
}

@media (max-width: 970px) and (min-width: 630px){
  .main-grid {
    margin: 40px 20px !important;
  }
}

@media (max-width: 1260px) and (min-width: 970px) {
  .main-grid {
    margin: 40px 60px !important;
  }
}

/* NAVBAR */

.title {
  border-radius: 4px;
  padding: 6px 30px;
  background-color: #2c3a47;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover,
.navbar button:hover {
  color: #2c3a47dc;
}

.navbar button {
  border: 0;
  outline: 0;
  background-color: inherit;
}

/* NAVBAR end */

/* MAIN GRID in LANDING PAGE */

.main-grid {
  transition: 0.4s;
  margin: 40px 140px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}

.main-grid a {
  text-decoration: none;
  color: black;
}

.pallete-card {
  transition: 0.4s;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 323px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}

.pallete-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}

.pallete-desc {
  margin: 4px 0;
}

.pallete-sm {
  overflow: hidden;
  width: 100%;
  height: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 4px;
}

.pallete-sm-item {
  z-index: 0;
  width: 20%;
  height: 25%;
}

/* MAIN GRID in LANDING PAGE end*/

/* Single Palette View */

.full-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.color-box {
  height: 23.1vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box:hover .copy-btn {
  opacity: 1;
}

.color-box .copy-btn {
  transition: 0.2s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 14px;
}

/* Single Pallete View end */

/* BOTTOM PANEL */

.bottom-panel {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.btn-groups {
  margin: auto;
  width: 72.5vw;
  min-width: 323px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  border-radius: 6px;
  background-color: white;
}

.btn-groups button {
  transition: 0.2s;
  border-radius: 0px;
  outline: 0;
  border: 0;
  padding: 16px 30px;
  background-color: inherit;
}

.btn-groups button:hover {
  color: white;
  background-color: #2c3a47;
}

/* BOTTOM PANEL end */

/* LOGIN PAGE */

.login,
.signup {
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}

.login form,
.signup form {
  border-radius: 6px;
  background-color: white;
  color: #2c3e50;
  padding: 20px 40px;
  width: 34%;
  height: 50%;
  min-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login form a {
  font-size: 12px;
}

.login form label,
.signup form label {
  font-size: 16px;
}

.login form input,
.signup form input {
  border-radius: 6px;
  border: 1px solid grey;
  padding: 10px 10px;
}

.login form input[type="submit"],
.signup form input[type="submit"] {
  border: 0;
  background-color: #2c3e50;
  color: white;
}

/* LOGIN end */

/* DASHBOARD page */

.dashboard {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80vh;
}

.dashboard > div {
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  height: 100%;
  background-color: white;
}

.profile-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section img {
  height: 180px;
}

.profile-section div {
  margin: 10px 0;
  font-size: 20px;
}

.user-palette-detail {
  flex-grow: 6;
  display: flex;
  flex-wrap: wrap;
}

.heading{
  font-size: 30px !important;
}

.user-palette-detail div{
  margin:0 10px;
  font-size: 20px;
  flex-grow: 2;
}

.user-palette-detail div button{
  background-color: inherit;
  border: 1px solid  #2c3a47;
  border-radius: 10px;
  outline: none;
  margin: 20px 0;
  padding: 16px;
  width: 80%;
}

.user-palette-detail div button:hover{
  color: white;
  background-color: #2c3a47;
}


/* DASHBOARD end */

/* NEW PALETTE Page */
.new-palette-container{
  margin: 40px;
  padding: 20px 40px;
  border-radius: 4px;
  background-color: white;
  min-height:600px;
  min-width: 280px;
}

.form-container{
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
}

.form-container > *{
  flex-grow: 1;
}

.form-container form{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.form-container form input[type="text"]{
  width:60%;
  font-size: 20px;
  padding: 10px 40px;
  border:1px solid lightgrey;
  outline: none;
}

.form-container form #title{
  width:73.5%;
}

.form-container form button, #createBtn, #cancelBtn{
  color:white;
  font-size: 20px;
  border:1px solid #3c40c6;
  background-color: #3c40c6;
  padding: 10px 40px;
  outline: none;
}

.form-container .color-preview-section{
  padding: 20px;
}

#createBtn,#cancelBtn{
  margin: 10px 10px 0px 0;
  border:1px solid #2c3a47;
  background-color: #2c3a47;
}

#createBtn:hover, #cancelBtn:hover{
  border:1px solid #2c3a47ee;
  background-color: #2c3a47ee;
}

.action-btns{
  display: flex;
  flex-wrap: wrap;
}

/* End */
